/*
	@name untitled
*/
/* Only edit this if you know what you are doing! */
body { margin: 0px; padding: 0px; font-family:"Arial"; overflow-x:hidden; }

/* Only edit this if you know what you are doing! */
img { position: absolute; display: block; margin: 0px; border: none; padding: 0px; }

/* Only edit this if you know what you are doing! */
div { position: absolute; }

#content-container { display: block; position: relative; width: 360px;  margin-left: auto; margin-right: auto;  }

#_bg__android {
	top: 0px;
	left: 0px;
	width: 360px;
	height: 640px;
	background:rgba(255,255,255,1);
}

#group_1 {
	top: 250px;
	left: 68px;
	width: 223px;
	height: 140px;
}

#vector {
	top: 115px !important;
	position: absolute !important;
	left: 44px;
	width: 25px;
	height: 25px;
	background:url(skins/vector.png);
	background-size:cover;
}


#vector_ek1 {
	top: 115px !important;
	position: absolute !important;
	left: 102px;
	width: 25px;
	height: 25px;
	background:url(skins/vector_ek1.png);
	background-size:cover;
}


#vector_ek2 {
	top: 115px !important;
	position: absolute !important;
	left: 160px;
	width: 30.76px;
	height: 25px;
	background:url(skins/vector_ek2.png);
	background-size:cover;
}


#fahrurzx {
	top: 0px;
	left: 0px;
	width: 254px;
	height: 110px;
	overflow: hidden;
	font-family: Francois One;
	font-size: 52px;
	text-align: left;
	letter-spacing: 5.2px;
	color:#282828;
}


#follow_my_socials_ {
	top: 74px;
	left: 27px;
	width: 193px;
	height: 33.5px;
	overflow: hidden;
	font-family: Poppins;
	font-size: 15px;
	text-align: left;
	letter-spacing: 1.5px;
	color:#000000;
}



/* Add your custom CSS here */
